// ===============================
//  MAIN CONTAINER
// ===============================
.container {
	@include media-breakpoint-up(xxl) {
    max-width: 1340px;
	}
	@include media-breakpoint-up(xxxl) {
    max-width: 1800px;
	}
}

// Custom class to vertically center items within a parent with this class
// Used on WP columns
.vertically-center {
	display:flex;
	flex-direction: column;
	justify-content: center;
}