// ===============================
//	FOOTER
// ===============================
footer {
  background-color:$color-secondary;
  color:$white;
  text-align: center;
  padding:45px 15px;
  margin-top:auto;
  margin-bottom:0;
  .footer-logo {
    display:inline-block;
    .logo {
      width:110px;
      display: block;
      img {
        display:block;
      }
    }
  }

  #copyright {
    margin: 40px 0;
    font-size: 1rem;
    opacity: 0.5;
  }

  #legal {
    p {
      font-size: 0.8rem;
      opacity: 0.5;
      margin-bottom: 15px;
    }
  }

  #footer-menu {
    margin: 40px auto 0 auto;

    ul {
      list-style: none;
      padding:0;

      li {
        display:inline-block;
        margin:0 10px;
        font-weight: $fw--regular;
        font-family:$ff--primary;
      }

    }

  }

}
