// ===============================
//  GUTENBERG
// ===============================
.entry {
  &__content {
    margin: 0 auto;
    max-width: 752px;
    padding-left: 15px;
    padding-right: 15px;
    position:relative;
    padding-top:$spacing-lg;
    padding-bottom:$spacing-lg;
    @include media-breakpoint-up(md) {
      padding-top:$spacing-xl;
      padding-bottom:$spacing-xl;
    }
    &.fold {
      padding-top:0;
    }
    > *:first-child {
      margin-top:0;
    }
    &.entry__content--breadcrumb,
    &.entry__content--compact {
      padding-top:0;
    }
    .alignwide {
      @include media-breakpoint-down(sm) {
        padding-left:0;
        padding-right:0;
      }
    }
  }
  // padding-bottom: $spacing-lg;
  // @include media-breakpoint-up(md) {
  //   padding-bottom:$spacing-xl;
  // }
}
.alignfull {
  @include media-breakpoint-down(sm) {
    margin-left: -15px;
    margin-right: -15px;
    // padding-left: 15px;
    // padding-right: 15px;
    width:calc(100% + 30px);
    max-width: 1000%;
  }
  @include media-breakpoint-up(md) {
    // padding-left: 8px;
    // padding-right: 8px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: auto;
    max-width: 1000%;
  }
}
.alignwide {
  @include media-breakpoint-up(md) {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: auto;
    max-width: 1000%;
  }
  @include media-breakpoint-down(md) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include media-breakpoint-up(lg) {
    //960px
    margin-left:-104px;
    margin-right:-104px;
  }
  @include media-breakpoint-up(xl) {
    //1140px
    margin-left:-194px;
    margin-right:-194px;
  }
	@include media-breakpoint-up(xxl) {
    //1340px;
    margin-left:-294px;
    margin-right:-294px;
	}
	@include media-breakpoint-up(xxxl) {
    //1800px;
    margin-left:-524px;
    margin-right:-524px;
	}
}
.alignwide,
.alignfull {
  @include media-breakpoint-up (md) {
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &.find-out-more-container {
    .wp-block-column > & {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      @include media-breakpoint-down(sm) {
        margin-left: -15px;
        margin-right: -15px;
      }
      .find-out-more--image {
        margin-top:20px;
      }
    }
  }
  &.wp-block-media-text {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.wp-block-media-text {
  display: -ms-grid;
  -ms-grid-columns: 50% auto;
  -ms-align-items: center;
  .wp-block-media-text__media {
    -ms-grid-column: 1;
  }
  .wp-block-media-text__content {
    -ms-grid-column: 2;
    padding-right:0;
  }
  &.has-media-on-the-right {
    .wp-block-media-text__media {
      -ms-grid-column: 2;
    }
    .wp-block-media-text__content {
      -ms-grid-column: 1;
      padding-left:0;
      padding-right:8%;
    }
  }
}
.entry__content > .wp-block-webfactory-map {
  @extend .alignfull;
}
.wp-block-media-text__content {
  > *[style*="text-align:right"] {
    @include media-breakpoint-down(sm) {
      text-align:center !important;
    }
  }
}

.wp-block-group {
  padding: 15px;
  @include media-breakpoint-up(md) {
    padding: 30px;
  }
  margin-top:$spacing-lg;
  margin-bottom:$spacing-lg;
  @include media-breakpoint-up(md) {
    margin-top:$spacing-xl;
    margin-bottom:$spacing-xl;
  }
  &:not(.has-background) {
    border: 1px solid $light-grey;
  }
  h1.has-text-align-center {
    margin-bottom:0;
  }
}

// Gutenberg color options
// -- see editor-color-palette in functions.php
$colors: ( mint, #99f3bb ),
  (skyblue, #66dff0 ),
  ( black, #010b19 ),
  ( white, #ffffff ),
  (lavender, #9384f0),
	( midnightblue, #001c43 );

/* Color Options
--------------------------------------------- */

@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color;
	}

	.btn.has-#{$name}-background-color {
		border-color: $color;
	}
	.has-#{$name}-background-color:not(.btn) {
    background-color: $color;
    &.wp-block-columns,
    &.icon-bullets,
    &.wp-block-group {
      position: relative;
      &:before,
      &:after {
        content:"";
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        background-color: $color;
      }
      &:before {
        right:100%;
        width:50vw;
      }
      &:after {
        left:100%;
        width:50vw;
      }
      margin-bottom:$spacing-lg;
      @include media-breakpoint-up(md) {
        margin-bottom:$spacing-xl;
      }
      + .wp-block-columns,
      + .icon-bullets,
      + .wp-block-group {
        margin-top: - $spacing-lg;
        @include media-breakpoint-up(md) {
          margin-top: - $spacing-xl;
        }
      }
    }
    .wp-block-button &.wp-block-button__link.has-background {
      background-color: $color;
      @include hover-focus-active {
        background-color: darken($color, 8%);
      }
    }
  }
  .wp-block-group.has-#{$name}-background-color + .has-#{$name}-background-color {
    margin-top: -30px;
    @include media-breakpoint-up(md) {
      margin-top: -60px;
    }
  }
}

/* Block spacing
--------------------------------------------- */
p.wp-block-subhead,
.entry__content .wp-block-cover,
.entry__content .wp-block-cover-image,
.entry__content ul.wp-block-gallery,
.wp-block-text-columns,
blockquote.wp-block-quote,
.entry__content .wp-block-quote.is-large,
.wp-block-code, .wp-block-audio,
.entry__content .wp-block-video,
.wp-block-preformatted, .wp-block-verse,
.wp-block-table, .wp-block-categories,
.entry__content .wp-block-latest-posts,
.wp-block-embed {
  margin-bottom:$spacing-lg;
}
.wp-block-embed {
  text-align:center;
}
.wp-block-columns {
  margin-bottom:0;
  justify-content:center;
  .wp-block-column {
    > *:last-child {
      margin-bottom:0;
    }
    margin-top:$spacing-lg;
    margin-bottom:$spacing-lg;
    @include media-breakpoint-up(lg) {
      margin-top:$spacing-xl;
      margin-bottom:$spacing-xl;
    }
  }
  &.thin-gutter {
    .wp-block-column {
      margin-bottom:8px;
      &:not(:first-child) {
        margin-left:8px;
        @media (max-width:599px) {
          margin-left:0;
        }
      }
    }
  }
}
.wp-block-columns .wp-block-column {
  @media (max-width: 781px) and (min-width: 600px) {
    flex-basis: calc(50% - 20px)!important;
    &:nth-child(2n) {
      margin-left: 40px;
    }
  }
  @media (min-width: 782px) {
    flex-basis: calc(50% - 30px)!important;
    &:not(:first-child) {
      margin-left: 60px;
    }
  }
}
.wp-block-columns.alignwide {
  @include media-breakpoint-down(sm) {
    padding-left:0;
    padding-right:0;
  }
}
.has-top-margin {
  margin-top:$spacing-md;
  @include media-breakpoint-up(md) {
    margin-top:$block-margin-bottom;
  }
}
.wp-block-image {
  margin-bottom:10px;
}


// ===============================
//  SEPARATOR
// ===============================
.wp-block-separator {
  height:6px;
  background-color:$color-primary;
  border:0;
  margin-top:$spacing-lg;
  margin-bottom:$spacing-lg;
  width: 100%;
  @include media-breakpoint-up(xl) {
    margin-top:$spacing-xl;
    margin-bottom:$spacing-xl;
  }
  &.is-style-dots {
    &:before {
      font-weight: bold;
      font-size: 60px;
      line-height: 10px;
      color:$color-primary;
    }
    height: 7px;
  }
}


// =============================
//	PULL QUOTE
// =============================
.wp-block-pullquote {
  background:$color-secondary;
  color:$white;
  blockquote {
    @extend .container;
    font-family:$ff--primary;
    p {
      color:$color-text;
      text-transform: uppercase;
      line-height: $base__line;
      @extend .t-4;
    }
    cite {
      display:block;
      color:$color-alt;
      text-transform: uppercase;
      @extend .t-3;
      margin-top:30px;
    }
  }
  &.is-style-default {
    border-top:1px solid $color-input-border;
    border-bottom:1px solid $color-input-border;
  }
  &.is-style-solid-color {
    blockquote {
      position:relative;
      @extend .container;
      padding:30px 90px 0;
      @include media-breakpoint-up(lg) {
        padding-left:180px;
        padding-right:180px;
      }
      @include media-breakpoint-down(sm) {
        max-width:90%;
        padding: 60px 0px;
      }
      &:before,
      &:after {
        content:"";
        display:block;
        position:absolute;
        background-repeat:no-repeat;
        background-position: center;
        background-size:100% auto;
        width:45px;
        height:40px;
        @include media-breakpoint-up(lg) {
          width:90px;
          height:79px;
        }
      }
      &:before {
        background-image:url(../img/left-quote.svg);
        top:0;
        left:0;
      }
      &:after {
        background-image:url(../img/right-quote.svg);
        bottom:0;
        right:0;
      }
      p {
        color:$white;
        font-style:italic;
        @extend .t-4;
      }
      cite {
        display:block;
        color:$color-alt;
        @extend .t-3;
        margin-top:30px;
      }
    }
  }
}
.testimonial-group {
  .wp-block-pullquote.alignfull {
    margin-left:0;
    margin-right:0;
    width:auto;
    max-width:100%;
  }
  .slick-slide {
    outline:none !important;
  }
}

// ===============================
//  TABLES
// ===============================
.wp-block-table {
  border:1px solid rgba($color-secondary, 0.17);
  font-family: $ff--primary;
  @extend .t-2;
  margin-bottom:$spacing-lg;
  @include media-breakpoint-up(md) {
    margin-bottom:$spacing-xl;
  }
  @include media-breakpoint-down(sm) {
    margin-left:-15px;
    margin-right:-15px;
  }
  table {
    margin: 10px;
    max-width: calc(100% - 20px);
    @include media-breakpoint-up(md) {
      margin: 10px 30px;
      max-width: calc(100% - 60px);
    }
  }
  figcaption {
    @extend .t-0;
    font-family:$ff--default;
    padding: 16px 5px;
    margin:0 10px 10px;
    @include media-breakpoint-up(md) {
      padding: 26px 15px;
      margin:0 30px 10px;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
    word-break: break-all;
  }
  thead {
    th {
      @extend .t-5;
      body & {
        @include media-breakpoint-down(sm) {
          @include font-size(25.92px);
        }
      }
    }
  }
  td,
  th {
    text-align: left;
  }
  td {
    border-bottom: 1px solid rgba($color-secondary, 0.17);
    padding: 16px 5px;
    @include media-breakpoint-up(md) {
      padding: 26px 15px;
    }
  }
  th {
    padding: 16px 5px 10px;
    @include media-breakpoint-up(md) {
      padding: 26px 15px 30px;
    }
  }

}
