// =============================
//  HEADER
// =============================
.page-wrap > header {
  background-color:$black;
  background-image:url(../img/wave-graphic.jpg);
  background-position: center top;
  background-size:100% auto;
  background-size:cover;
  background-repeat: no-repeat;
  &.front {
    background-image:url(../img/wave-graphic-front.jpg);
    background-position: center bottom;
    background-size:100% auto;
  }
  .top-bar {
    margin:0 -15px;
    -js-display: flex;
    display: flex;
    flex-wrap: wrap;
    border-bottom:1px solid rgba($white,0.19);
    @include media-breakpoint-down(lg) {
      justify-content: space-between;
    }
    div[class^="col-"] {
      padding:30px 15px;
    }
    .col-logo {
      .logo {
        display:block;
        width:90px;
        height:auto;
        img {
          max-width:100%;
        }
      }
      width:120px;
      max-width:120px;
      @include media-breakpoint-down(lg) {
        width:50%;
      }
    }
    .col-toggler {
      display:none;
      @include media-breakpoint-down(lg) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .navbar-toggler {
        background:transparent;
        box-shadow:none;
        border:0;
        padding:10px;
        text-shadow:none;
        outline:none;
        border-radius: 7px;
        .bar {
          background-color:$color-alt;
          margin: 0;
          display:block;
          height:4px;
          min-width:40px;
          + .bar {
            margin-top:10px;
          }
        }
        &:active,
        &:focus,
        &.is-active {
          outline:none;
          box-shadow:0 0 0 4px $color-hover;
        }
      }
    }
    .col-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 1 1 auto;
      text-align: center;
      max-width: calc( 100% - 120px);
      @include media-breakpoint-down(lg) {
        width:100%;
        padding:0;
        max-width:100%;
      }
      .btn {
        margin:30px auto;
        @include media-breakpoint-up(xl) {
          margin:30px 15px;
        }
      }
      @include media-breakpoint-up(xl) {
        display:flex !important;
      }
      @include media-breakpoint-down(lg) {
        display:none;
        overflow-y:scroll;
        max-height: calc( 100vh - 144px );
        -webkit-overflow-scrolling: touch;
      }
      ul.navbar-nav {
        margin:0 auto;
        padding:0 15px;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        @include media-breakpoint-down(md) {
          flex-direction: column;
        }
        flex-grow: 1;
        justify-content: space-around;
        li {
          display:block;
          position:relative;
          a {
            display:block;
            font-family:$ff--primary;
            @extend .t-2;
            line-height: 29px;
            padding:40px;
            @include media-breakpoint-up(xxl) {
              padding:40px 20px;
            }
            @include media-breakpoint-up(xxxl) {
              padding:40px 30px;
            }
            color:$white;
            text-transform: uppercase;
            position:relative;
            &:after {
              content:"";
              display:block;
              width:0%;
              height:2px;
              background:$color-alt;
              position:absolute;
              bottom:0;
              transition:all $trns-duration;
              left:50%;
            }
            @include hover-focus-active {
              color:$white;
              &:after {
                width: calc(100% - 30px);
                left: 15px;
              }
            }
          }
          &.current-menu-item {
            a {
              &:after {
                width: calc(100% - 30px);
                left: 15px;
              }
            }
          }
          &.menu-item-has-children {
            &.current-page-ancestor {
              &:after {
                color:$color-hover !important;
              }
            }
            @include media-breakpoint-up(xl) {
              > a {
                padding-right:26px;
                @include media-breakpoint-up(xxl) {
                  padding-right:36px;
                }
                @include media-breakpoint-up(xxxl) {
                  padding-right:46px;
                }
              }
            }
            &:after {
              content: "▼";
              display: inline-block;
              position: absolute;
              top:0;
              right: 0;
              height: 49px;
              width: 49px;
              text-align: center;
              color: $color-secondary;
              line-height:45px;
              font-size: 25px;
              @include media-breakpoint-up(xl) {
                position: absolute;
                color:$color-secondary !important;
                font-size: 18px;
                top: 0px;
                right: 20px;
                height: 0px;
                width: 0px;
                pointer-events: none;
              }
              @include media-breakpoint-up(xxl) {
                right: 30px;
              }
              @include media-breakpoint-up(xxxl) {
                right: 40px;
              }
            }
            &.toggled:after {
              content:"▲";
              color:$color-hover;
            }
          }
          @include media-breakpoint-up(xl) {
            &:hover,&:focus,&:active,&.focus {
              &:after {
                color:$color-hover !important;
              }
              ul.sub-menu {
                display:block !important;
              }
            }
          }
          ul.sub-menu {
            position: relative;
            display: none;
            padding:0;
            min-width: 200px;
            background:$color-light;
            @include media-breakpoint-down(md) {
              background: darken($color-light, 5%);
              ul.nav--sub {
                background: darken($color-light, 10%);
                ul.nav--sub {
                  background: darken($color-light, 15%);
                }
              }
            }
            > li {
              &:last-child {
                border-bottom:0;
              }
              &.current-menu-item {
                a {
                  border-color: $color-hover;
                }
              }
            }
            @include media-breakpoint-up(lg) {
              display: none !important;
              text-align:left;
              position:absolute;
              top: 100%;
              left: 0;
              z-index:999;
              box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25);
              a {
                color:$color-text;
                text-transform: none;
                @include font-size(18px);
                font-weight:$fw--semibold;
                line-height: 1.1em;
                border-bottom:2px solid $color-primary;
                &:after {
                  height:2px;
                  bottom:-2px;
                }
              }
            }
            @include media-breakpoint-up(xxl) {
              a {
                padding-top:12px;
                padding-bottom:12px;
              }
            }
          }
        }
      }
    }
  }
}

// =============================
//  ENTRY TITLE / PAGE TITLE
// =============================
.entry {
  &__header {
    color:$white;
    text-align:center;
    padding:40px 0 60px;
    @include media-breakpoint-up (xxl) {
      padding:80px 0 120px;
    }
    .entry__title {
      font-style:italic;
      margin-bottom:0;
      padding:0 15px 30px 15px;
      em {
        color:$color-alt;
      }
      @include font-size(44.79px);
      @include media-breakpoint-up (md) {
        @include font-size(77.4px);
      }
      @include media-breakpoint-up(xxl) {
        @include font-size(130px);
      }
    }
    .entry__subtitle {
      width:640px;
      max-width:100%;
      padding:0 15px;
      margin:0 auto;
      &--large {
        font-family:$ff--primary;
        @extend .t-5;
        width:100%;
        margin-bottom:30px;
      }
      + .entry__subtitle {
        margin-bottom:30px;
      }
    }
    .entry__buttons {
      .btn + .btn {
        margin-top:20px;
      }
      @include media-breakpoint-down(xs) {
        padding-left:15px;
        padding-right:15px;
        .btn {
          display:block;
        }
      }
      @include media-breakpoint-up(sm) {
        .btn + .btn {
          margin-top:0;
          margin-left:30px;
        }
      }
    }
    .entry__image {
      margin-top:30px;
      padding:0 15px;
      max-width:764px;
      width: 100%;
    }
  }
}
