// =============================
//  BUTTONS
// =============================
%standard_button {
  display:inline-block;
  text-align: center;
  border:0;
  padding: 10px 20px;
  background:$color-primary;
  color:$color-text;
  text-transform: uppercase;
  font-family:$ff--primary;
  cursor:pointer;
  border-radius:0;
  @include font-size(22px);
  @include hover-focus-active {
    color:$color-text;
    background:$color-alt;
  }
  &.is-active {
    color:$color-text;
    background:$color-alt;
  }
}
%outline_button {
  display:inline-block;
  text-align: center;
  border:0;
  padding: 10px 20px;
  background:transparent;
  border:1px solid rgba($white, 0.19);
  color:$color-alt;
  text-transform: uppercase;
  font-family:$ff--primary;
  cursor:pointer;
  border-radius:0;
  @include font-size(22px);
  transition: color $trns-duration, border-color $trns-duration;
  @include hover-focus-active {
    color:$color-primary;
    border-color:rgba($white, 0.3);
  }
}

.btn,
.button {
  @extend %standard_button;
}
.btn.btn--outline,
.wp-block-button a.wp-block-button__link:not(.has-background) {
  @extend %outline_button;
}

.wp-block-buttons {
  margin-top:$spacing-lg;
  @include media-breakpoint-up(md) {
    margin-top:$spacing-xl;
  }
  .wp-block-button {
    @include media-breakpoint-up(md) {
      margin-right:$spacing-lg;
    }
    @include media-breakpoint-up(xl) {
      margin-right:$spacing-xl;
    }
    &:last-child {
      margin-right:0;
    }
    a.wp-block-button__link.has-background {
      @extend %standard_button;
    }
    margin-bottom:$spacing-lg !important;
  }
}


.slick-dots {
  list-style:none;
  padding:0;
  text-align: center;
  li {
    display:inline-block;
    margin:0 4px;
    outline:none;
    button {
      outline:none;
      border:0;
      background:$color-secondary;
      border-radius:100%;
      width:$global--interact-size;
      height:$global--interact-size;
      @include media-breakpoint-up(lg) {
        width:$global--interact-size / 2;
        height:$global--interact-size / 2;
      }
      text-indent:-9999px;
      overflow:hidden;
    }
    &.slick-active {
      button {
        background:$color-hover;
      }
    }
  }
}