// =============================
//	PRICE CALCULATOR BLOCK
// =============================
.price-calculator {
  background:$color-secondary;
  color:$white;
  padding:30px;
  position:relative;
  font-weight:$fw--bold;
  font-family:$ff--primary;
  @extend .t-2;
  .has-midnightblue-background-color & {
    border:1px solid rgba($white, 0.19);
  }
  label {
    color:$color-alt;
    display:block;
    width:100%;
    text-transform: uppercase;
  }
  &__item {
    margin-bottom:40px;
    label {
      @extend .t-3;
      margin-bottom:10px;
    }
    &--figures.price-calculator__item {
      display:flex;
      flex-direction:row;
      margin-bottom:0;
      align-items: flex-end;
      label {
        @extend .t-2;
        margin-bottom:0px;
      }
      > div {
        width:50%;
        float:left;
      }
    }
  }
  &__total.price-calculator__figure {
    text-align: right;
    @extend .t-3;
    label {
      @extend .t-3;
    }
  }
  &__value {
    display:inline-block;
    &-wrap {
      display:block;
      text-align: center;
      word-break: normal;
    }
  }
  &__figure {
    label {
      display:inline;
    }
    + .price-calculator__figure {
      margin-top:15px;
    }
  }
  &:after {
    content:"";
    display:block;
    clear:both;
  }
}
.range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: rgba($white, 0.5);
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  &:hover {
    opacity: 1;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: $color-secondary;
    border:5px solid $color-alt;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: $color-secondary;
    border:5px solid $color-alt;
    cursor: pointer;
  }
}

// =============================
//	CONTACT DETAILS BLOCK
// =============================
.contact-details {
  margin-top:5px;
  text-align: center;
  &__link {
    margin:30px 20px 0;
    @include media-breakpoint-down(xs) {
      margin:30px auto 0;
    }
    display: inline-block;
    color:$color-text;
    font-style:italic;
    font-family:$ff--primary;
    text-transform: uppercase;
    word-break: break-word;
    @extend .t-5;
    span {
      color:$color-alt;
    }
    footer & {
      color:$white;
      @extend .t-4;
    }
  }
}

// =============================
//	STEP BLOCK
// =============================
.step {
  display:flex;
  flex-direction:row;
  margin-top:$spacing-xl !important;
  margin-bottom:$spacing-xl;
  position:relative;
  &__icon {
    background:$color-gradient;
    position:relative;
    z-index:1;
    border-radius:100%;
    min-width:80px;
    width:80px;
    height:80px;
    margin-right:$spacing-md;
    @include media-breakpoint-up(lg) {
      margin-right:$spacing-xl;
      min-width:325px;
      width:325px;
      height:325px;
    }
    &:after {
      content:"";
      display:block;
      margin:0 auto;
      position:absolute;
      background-size:100%;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      width:35px;
      height:35px;
      @include media-breakpoint-up(lg) {
        width:110px;
        height:110px;
      }
    }
    &--training:after {
      background-image:url(../img/icon--training.svg);
    }
    &--recommendations:after {
      background-image:url(../img/icon--recommendations.svg);
    }
    &--client-reviews:after {
      background-image:url(../img/icon--client-reviews.svg);
    }
    &--thumbs-up:after {
      background-image:url(../img/icon--thumbs-up.svg);
    }
    &--review:after {
      background-image:url(../img/icon--review.svg);
    }
    &--cog-reconcile:after {
      background-image:url(../img/icon--cog-reconcile.svg);
    }
  }
  &__text {
    width:640px;
    position:relative;
    z-index:1;
    max-width: calc(100% - 95px);
    @include media-breakpoint-up(lg) {
      max-width:50%;
    }
  }
  &__number {
    @extend h1;
    font-style:italic;
    display:inline-block;
    background:$white;
    padding-left:15px;
    padding-right:15px;
    margin-left:-15px;
    margin-right:-15px;
    @include media-breakpoint-up(lg) {
      padding-left:30px;
      padding-right:30px;
      margin-left:-30px;
      margin-right:-30px;
    }
    margin-bottom:10px;
    &__figure {
      color:$color-alt;
    }
  }
  &:after {
    content:"";
    outline: solid $white 7px;
    border: dashed $dark-grey 6px;
    outline-offset: -5px;
    border-top:0;
    border-right:0;
    position:absolute;
    display:block;
    width:35%;
    height:calc(100% - 4px);
    top: 92px;
    margin-left: 34px;
    @include media-breakpoint-up(sm) {
      width:65%;
    }
    @include media-breakpoint-up(md) {
      height:calc(100% + 6px);
    }
    @include media-breakpoint-up(lg) {
      width:45%;
      height:calc(100% - 263px);
      top:365px;
      margin-left:162px;
    }
    @include media-breakpoint-up(xxl) {
      height:calc(100% - 230px);
      width:55%;
    }
  }
  &:nth-child(even) {
    text-align: right;
    justify-content: flex-end;
    .step__text {
      order:1;
    }
    .step__icon {
      order:2;
      margin-right:0;
      margin-left:$spacing-md;
      @include media-breakpoint-up(lg) {
        margin-left:$spacing-xl;
      }
    }
    &:after {
      margin-left:0;
      margin-right:34px;
      @include media-breakpoint-up(lg) {
        margin-right:162px;
      }
      border-left:0;
      border-right:dashed $dark-grey 6px;
    }
  }
  + h1.has-text-align-center {
    background:$white;
    z-index: 1;
    padding-left:15px;
    padding-right:15px;
    position: relative;
  }
}

// =============================
//	TABBED SECTION BLOCK
// =============================
.tabbed-section {
  &.alignwide,
  &.alignfull {
    background:$off-white;
    @include media-breakpoint-up(md) {
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      .tabbed-section__image {
        flex-basis:39%;
        max-width:39%;
      }
      .tabbed-section__text {
        flex-basis:51%;
        max-width:51%;
      }
    }
    position: relative;
    &:before,
    &:after {
      content:"";
      display:block;
      position:absolute;
      top:0;
      bottom:0;
      background:$off-white;
    }
    &:before {
      right:100%;
      width:50vw;
    }
    &:after {
      left:100%;
      width:50vw;
    }
    margin-bottom:$spacing-lg;
    @include media-breakpoint-up(md) {
      margin-bottom:$spacing-xl;
    }
  }
  &.alignwide,
  &.alignfull {
    padding:$spacing-lg;
    @include media-breakpoint-up(md) {
      padding:$spacing-xl $spacing-lg;
    }
  }
  &:not(.alignwide):not(.alignfull) {
    .tabbed-section__image {
      margin-bottom:$spacing-lg;
    }
  }
  &__image {
    @include media-breakpoint-down(sm) {
      margin-bottom:$spacing-lg;
    }
    @include media-breakpoint-up(md) {
      height: 1px;
      img {
        float:left;
      }
    }
  }
  &__title {
    @extend h1;
    font-style:italic;
    margin-bottom:$spacing-lg;
  }
  &__tabs {
    list-style: none;
    padding:0;
    li {
      display:block;
      @include media-breakpoint-up(xl) {
        display:inline-block;
        + li {
          margin-left:$spacing-lg;
        }
      }
      a {
        display:block;
        color:$color-text;
        @extend .t-4;
        font-family:$ff--primary;
        opacity:0.26;
        border-bottom:2px solid transparent;
        &.is-active {
          opacity:1 !important;
          outline:none;
          border-bottom:2px solid $color-alt;
        }
        transition: opacity $trns-duration, border $trns-duration;
        @include hover-focus-active {
          outline:none;
          opacity:0.75;
        }
      }
    }
  }
  .btn {
    margin-top:30px;
    color:$color-text;
    border-color: rgba($color-secondary, 0.26);
    @include hover-focus-active {
      color:$color-alt;
      border-color: rgba($color-secondary, 0.4);
    }
  }
  &.tabbed-section--with-image {
    + * {
      clear:both;
      position:relative;
      z-index:1;
    }
  }
}

// =============================
//	ICON BULLETS
// =============================
.icon-bullets {
  ul {
    padding:0;
    margin:0;
    list-style:none;
    li {
      position:relative;
      margin-bottom:$spacing-lg;
      @include media-breakpoint-up(xl) {
        margin-bottom:$spacing-xl;
      }
      &.size-lg {
        padding-left:102px;
        @include media-breakpoint-up(lg) {
          padding-left:204px;
        }
        .icon-bullets__bullet {
          @extend .t-5;
        }
      }
      &.size-md {
        padding-left:75px;
        @include media-breakpoint-up(lg) {
          padding-left:150px;
        }
      }
      &.size-sm {
        padding-left:57px;
        @include media-breakpoint-up(lg) {
          padding-left:114px;
        }
        .icon-bullets__bullet {
          @extend .t-3;
        }
      }
    }
  }
  &__icon {
    width:84px;
    height:84px;
    &.size-lg {
      width:87px;
      height:87px;
      @include media-breakpoint-up(lg) {
        width:174px;
        height:174px;
      }
      + .icon-bullets__text {
        min-height:87px;
        @include media-breakpoint-up(lg) {
          min-height:174px;
        }
      }
    }
    &.size-md {
      width:60px;
      height:60px;
      @include media-breakpoint-up(lg) {
        width:120px;
        height:120px;
      }
      + .icon-bullets__text {
        min-height:60px;
        @include media-breakpoint-up(lg) {
          min-height:120px;
        }
      }
    }
    &.size-sm {
      width:42px;
      height:42px;
      @include media-breakpoint-up(lg) {
        width:84px;
        height:84px;
      }
      + .icon-bullets__text {
        min-height:42px;
        @include media-breakpoint-up(lg) {
          min-height:84px;
        }
      }
    }
    position:absolute;
    top:0;
    left:0;
  }
  &__text {
    display:flex;
    flex-direction:column;
    justify-content: center;
    .icon-bullets__bullet,
    .icon-bullets__desc {
      margin-bottom:0;
    }
    .icon-bullets__desc {
      margin-top:15px;
    }
  }
  &__title {
    margin-bottom:$spacing-lg;
    @include media-breakpoint-up(lg) {
      margin-bottom:$spacing-xl;
    }
    @extend .t-10;
    font-style:italic;
  }
  &.has-background-color {
    padding:$spacing-lg;
    @include media-breakpoint-up(lg) {
      padding:$spacing-xl $spacing-lg;
    }
  }
  &.has-columns {
    ul {
      display:flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap:wrap;
      margin:0 -30px;
      li {
        margin-right:30px;
        margin-left:30px;
        @include media-breakpoint-up(md) {
          flex-basis: calc(50% - 60px);
          max-width: calc(50% - 60px);
        }
      }
    }
    .icon-bullets__title {
      text-align:center;
    }
    &.has-3-columns {
      ul li {
        @include media-breakpoint-up(xl) {
          flex-basis: calc(33.33% - 60px);
          max-width: calc(33.33% - 60px);
        }
      }
    }
    &.has-4-columns {
      ul li {
        @include media-breakpoint-up(xxxl) {
          flex-basis: calc(25% - 60px);
          max-width: calc(25% - 60px);
        }
      }
    }
  }
}