// ===============================
//	INPUTS
// ===============================
textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="password"],
input[type="time"],
input[type="date"],
input[type="search"] {
  max-width:100%;
  border: 1px solid $light-grey;
  background: $white;
  padding: 14px 15px;
  width:100%;
  line-height: 30px;
  @include font-size(18px);
  @include hover-focus {
    border-color:$color-input-border-hover;
    outline: none;
    &:after {
      background:$color-input-border-hover;
    }
  }
  @include focus-active() {
    border-color:$color-input-border-focus;
    background:$white;
    box-shadow:none;
  }
  transition: border-color $trns-duration, background $trns-duration;
}
select {
  padding: 14px 15px;
  line-height: 30px;
  width:100%;
  border: 1px solid $light-grey;
  background: $white;
}

// ===============================
//	CONTACT FORM 7
// ===============================
.form-item {
  label {
    display:block;
    color:$color-text;
    text-transform: uppercase;
    @extend .t-2;
    font-family:$ff--primary;
  }
  margin-bottom:15px;
}
.wpcf7-submit {
  margin:15px auto 0;
  float:right;
}

.wpcf7-form-control-wrap.csubject,
.select-wrap {
  position:relative;
  overflow: hidden;
  display: block;
  cursor: pointer;
  &:after {
    content: "▼";
    display:block;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    height: 60px;
    line-height:60px;
    color: $color-alt;
    font-size: 12px;
    font-weight: normal;
    width: $global--interact-size;
    text-align: center;
    border-radius: 0 $br--input $br--input 0;
    transition:background $trns-duration;
  }
  &:hover {
    &:after {
      color: $color-input-border-hover;
    }
  }
  &.is-active {
    &:after {
      color: $color-input-border-focus;
    }
  }
  select {
    cursor: pointer;
    display:block;
    width:100%;
    appearance: none;
    -webkit-appearance: none;
    background:$white;
    border:1px solid $color-input-border;
    border-radius:$br--input;
    line-height: 40px;
    height: 60px;
    padding: 0 $global--interact-size 0 15px !important;
    -webkit-padding-end: $global--interact-size !important;
    -webkit-padding-start:10px !important;
    @include hover-focus {
      border-color: $color-input-border-hover;
      outline:none;
    }
    @include focus-active {
      background:$white;
      border-color: $color-input-border-focus;
    }
  }
}

// MESSAGES
.wpcf7-not-valid-tip {
  color:$dark-red;
}
.wpcf7 form .wpcf7-response-output {
  margin:20px 0 0;
  padding:10px 15px;
  border:0;
}
.wpcf7 form.sent .wpcf7-response-output {
  color:$color-success;
  background:rgba($color-success, 0.1);
}
.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output,
.wpcf7 form.spam .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  color:$dark-red;
  background:rgba($dark-red, 0.1);
}