// =============================
//	FONTS, TYPE AND TEXT
// =============================
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-weight: $fw--regular;
	font-family:$ff--primary;
}
.font--highlight {
	font-weight: $fw--black;
	font-family:$ff--primary;
}
.font--secondary {
	font-weight: $fw--regular;
	font-family:$ff--secondary;
}

// =============================
//	FONT SIZES
// =============================
.t {
	&-0 {
		@include font-size(15px);
	}
	&-1 {
		@include font-size(18px);
	}
	&-2 {
		@include font-size(21.6px);
	}
	&-3 {
		@include font-size(21.6px);
		@include media-breakpoint-up (md) {
			@include font-size(25.92px);
		}
	}
	&-4 {
    line-height: 1.4em;
		@include font-size(25.92px);
		@include media-breakpoint-up (md) {
			@include font-size(31.10px);
		}
	}
	&-5 {
    line-height: 1.2em;
		@include font-size(31.10px);
		@include media-breakpoint-up (md) {
			@include font-size(37.32px);
		}
	}
	&-6 {
    line-height: 1.2em;
		@include font-size(37.32px);
		@include media-breakpoint-up (md) {
			@include font-size(44.79px);
		}
	}
	&-7 {
    line-height: 1.2em;
		@include font-size(37.32px);
		@include media-breakpoint-down (sm) {
			@include font-size(44.79px);
		}
		@include media-breakpoint-up (md) {
			@include font-size(53.75px);
		}
	}
	&-8 {
		@include font-size(44.79px);
		@include media-breakpoint-up (md) {
			@include font-size(64.5px);
		}
	}
	&-9 {
		@include font-size(44.79px);
		@include media-breakpoint-up (md) {
			@include font-size(64.5px);
		}
		@include media-breakpoint-up (xxl) {
			@include font-size(77.4px);
		}
	}
	&-10 {
		@include font-size(44.79px);
		@include media-breakpoint-up (md) {
			@include font-size(64.5px);
		}
		@include media-breakpoint-up (xxl) {
			@include font-size(77.4px);
		}
		@include media-breakpoint-up (xxxl) {
			@include font-size(122px);
		}
	}
}

// =============================
//	STANDARD TEXT ELEMENTS
// =============================
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	margin-bottom: $headings-margin-bottom;
	line-height:1em;
	margin-top:0;
	font-weight:$fw--light;
	strong,b {
		font-weight:$fw--semibold;
	}
}
h1,.h1 {
	@extend .t-9;
	margin-bottom: 0.5em;
	@include media-breakpoint-up(xxl) {
		@include font-size(122px);
		font-style:italic;
	}
}
h2,.h2 {
	@extend .t-8;
	@include media-breakpoint-up(xxl) {
		@include font-size(100px);
		font-style:italic;
	}
}
h3,.h3 {
	@extend .t-6;
}
h4,.h4 {
	@extend .t-4;
	margin-bottom: $paragraph-margin-bottom;
}
h5,.h5 {
	@extend .t-3;
	margin-bottom: $paragraph-margin-bottom;
}
h6,.h6 {
	@extend .t-2;
	margin-bottom: $paragraph-margin-bottom;
}
p,ul,ol,dl {
	margin-bottom: $paragraph-margin-bottom;
	line-height:$base__line;
}
a {
	color:$color-primary;
	text-decoration:none;
	transition: background $trns-duration, color $trns-duration, box-shadow $trns-duration;
	@include hover-focus-active {
		color: $color-alt;
		text-decoration:none;
	}
}
strong {
	font-weight:$fw--semibold;
}
.caps {
	text-transform:uppercase;
}
.text-primary {
	color:$color-primary !important;
}
.text-center {
	text-align:center;
}
noscript {
	background: $red;
	display: block;
	text-align: center;
	color: $white;
	padding: 10px;
	font-weight: 600;
}

.has-small-font-size {
	@extend .t-0;
}
.has-normal-font-size {
	@extend .t-1;
}
.has-regular-font-size {
	@extend .t-2;
}
.has-large-font-size {
	@extend .t-3;
}
.has-larger-font-size {
	@extend .t-4;
}
.has-drop-cap:not(:focus):first-letter {
	color:$color-primary;
}