// ===============================
//	BASE
// ===============================
html * {
	/*-webkit-font-smoothing: subpixel-antialiased;*/
	-webkit-font-smoothing: antialiased;
}
html {
	overflow-x: hidden;
}
body {
	background:$color-background;
	color:$color-text;
  font-size:$base__font-size;
	font-weight: $fw--light;
	line-height:$base__line;
	font-family:$ff--default;
	min-height: 100vh;
}
.screen-reader-text {
	display:none;
}
.page-wrap {
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.main-wrap {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
// ===============================
//  CONTENT CONTAINER
// ===============================
div[class*="col-"] >,
div[class*="-col"] > {
	p:first-child,
	ul:first-child,
	ol:first-child,
	blockquote:first-child,
	h1:first-child,
	h2:first-child,
	h3:first-child,
	h4:first-child,
	h5:first-child,
	h6:first-child,
	.h1:first-child,
	.h2:first-child,
	.h3:first-child,
	.h4:first-child,
	.h5:first-child,
	.h6:first-child {
		margin-top:0;
	}
	p:last-child,
	ul:last-child,
	ol:last-child,
	blockquote:last-child,
	h1:last-child,
	h2:last-child,
	h3:last-child,
	h4:last-child,
	h5:last-child,
	h6:last-child,
	.h1:last-child,
	.h2:last-child,
	.h3:last-child,
	.h4:last-child,
	.h5:last-child,
	.h6:last-child {
		margin-bottom:0;
	}
}
// ============================
//	EMBEDDED VIDEOS
// ============================
.wp-block-embed.is-type-video .wp-block-embed__wrapper,
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  iframe,
  object,
  embed,
  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}