// =========================
//	CONFIG
// =========================

// Descriptive base colours
$white          : #fff;
$off-white      : #f7f7f7;
$light-grey     : #d2d6dc;
$grey           : #b6bdc8;
$dark-grey      : #707070;
$black          : #010b19;
$red            : #D62929;
$dark-red       : #930909;
$forest-green   : #00840a;
$mint           : #99f3bb;
$sky-blue       : #66dff0;
$midnight-blue  : #001c43;
$lavender       : #9384f0;
$green          : darken($mint, 5%);

// Color Usage
$color-primary            : $mint;
$color-secondary          : $midnight-blue;
$color-alt                : $sky-blue;
$color-dark               : $black;
$color-light              : $off-white;
$color-success            : $forest-green;
$color-danger             : $red;
$color-text               : $midnight-blue;
$color-hover              : $color-alt;
$color-input-border       : $grey;
$color-input-border-hover : $color-hover;
$color-input-border-focus : $mint;
$color-background         : $white;
$color-gradient           : linear-gradient(45deg, $sky-blue, $lavender);

// Text
$base__font-size : 18px;
$base__line      : 1.4em;
$headings-margin-bottom  : 0.5em;
$paragraph-margin-bottom : 30px;
$block-margin-bottom : 30px;

// Border radius
$br--default     : 0;
$br--input       : 0;
$br--round       : 50%;

// Transitions
$trns-duration   : .2s;

// Path to Assets
$path--rel       : "../img";

// Font stacks
$ff--primary    : rift, sans-serif;
$ff--secondary  : source-sans-pro, sans-serif;
$ff--default    : source-sans-pro, sans-serif;

// Font weights
$fw--light      : 300;
$fw--medium     : 500;
$fw--regular    : 500;
$fw--semibold   : 600;
$fw--bold       : 700;
$fw--black      : 700;

// Spacing
$spacing-xl              : 60px;
$spacing-lg              : 30px;
$spacing-md              : 15px;
$spacing-sm              : 10px;
$spacing-xs              : 5px;

// Global
$global--interact-size   : 44px;
$global--angle-width     : 4px;
$global--angle-length    : 30px;
$global--box-shadow      : 0px 1px 1px 1px rgba(0,0,0,0.1);


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1860px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1340px,
  xxxl: 1800px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

// ================
// Helpers
// ================
// Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// For pseudo-elements
%pseudos {
  display: block;
  content: '';
  position: absolute;
}